<<<<<<< HEAD
// add custom sass in this file

// variables
$margin-min: 1
$margin-max: 20

#TableOfContents
    background-color: #e3ffcc73
    border-radius: 20px
    ul
        margin-left: 1rem
    li
        a
            color: #0300b8

img
    &.wdtMiddle
        width: 500px

article.post_content
    > p,div.inner-article,ul,ol,dl
        margin-left: 1.5rem
    h2
        padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
        color: #494949;/*文字色*/
        background: #f4f4f4;/*背景色*/
        border-left: solid 5px #7db4e6;/*左線*/
        border-bottom: solid 3px #d7d7d7;/*下線*/
    h3
        border-bottom: double 3px #78aeff
    h4,h5,h6
        border-bottom: solid 1px black

@for  $i  from $margin-min through $margin-max
    .mt-#{$i}
        margin-top: #{$i * 0.1}rem

    .mr-#{$i}
        margin-right: #{$i * 0.1}rem

    .mb-#{$i}
        margin-bottom: #{$i * 0.1}rem

    .ml-#{$i}
        margin-left: #{$i * 0.1}rem
=======
// add customs styles and general overrides here
// due to the cascading nature of css, if you try to override theme css variables in this file, those changes will not apply. Instead, override css variables in the `override.sass` file
// we recommend not editing this file directly. Instead, create an `assets/sass/_custom.sass` file at the root level of your site.
// if you edit this file directly, you will have to resolve git conflicts when and if you decide to pull changes we make on the theme
>>>>>>> c14fa767a6d11fd6fd9fabdd2c3838bb44bf3f1f
