{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
{{- $scratch.Set "image" .Params.image }}
{{- else }}
{{ $scratch.Set "image" .Site.Params.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL) }}
<div class="grid-inverse wrap content">
  <article class="post_content">
    {{- partial "i18nlist" . }}
    <h1 class="post_title">{{ .Title }}</h1>
    {{- partial "post-meta" . }}
    {{ partial "share" . }}
    {{ with .Params.featureImage }}
    <img src="{{ . }}" class="image_featured">
    {{ end }}
    {{ if .Params.toc }}
    <h2>Overview 20201123</h2>
    {{ .TableOfContents }}
    {{ end }}
    <!-- ## test base -->
    <style>
      .my-red{
        color: red;
      }
    </style>
    {{ $parent_url := .Section | absLangURL }}
    <a href="{{ $parent_url  }}">{{ $parent_url  }}</a>
    <!-- ## add test codes -->
    <!-- partial_log -->
    {{ partial "log" ( printf "hoge: %s" "fuga" ) }} 
    <!-- slice_index -->
    {{ partial "log" ( printf "%s" "slice_index" ) }} 
    {{ $arr := slice "AAA" "BBB" "CCC" }}
    {{ partial "log" ( printf "%s" ( index $arr 0 ) ) }} 
    {{ partial "log" ( printf "%s" ( index $arr 1 ) ) }} 
    {{ partial "log" ( printf "%s" ( index $arr 2 ) ) }} 
    {{ partial "log" ( printf "%s" ( index $arr 3 ) ) }} 
    {{ range $index,$v := $arr }}
      {{ partial "log" ( printf "%d:%s"   $index $v) }} 
    {{ end }}
    <!-- seq -->
    {{ partial "log" ( printf "%s" "seq") }} 
    {{ range after 10 (seq 20) }}
      {{ partial "log" ( printf "%d" .  ) }} 
    {{ end }}
    <!-- kind -->
    {{ partial "log" ( printf "%s" "(.Kind)") }} 
    {{ partial "log" ( printf "%s" (.Kind)) }} 
    <!-- section -->
    {{ partial "log" ( printf "%s" "(.section)") }} 
    {{ partial "log" ( printf "%s" (.Section)) }} 
    <!-- sections -->
    {{ partial "log" ( printf "%s" "(.sections)") }} 
    {{ range .Sections }}
      {{ partial "log" ( printf "%s:%s" .RelPermalink .Title) }} 
    {{ end }}
    {{ range .CurrentSection.Sections }}
      {{ partial "log" ( printf "%s:%s" .RelPermalink .Title) }} 
    {{ end }}
    {{ range .Parent.CurrentSection.Sections }}
      {{ partial "log" ( printf "%s:%s" .RelPermalink .Title) }} 
    {{ end }}
    {{ range .Parent.Parent.CurrentSection.Sections }}
      {{ partial "log" ( printf "%s:%s" .RelPermalink .Title) }} 
    {{ end }}
    <!-- cond -->
    {{ partial "log" ( printf "%s" "cond") }} 
    {{ partial "log" ( printf "%s" (cond (eq .CurrentSection.Section "") (.Title) (printf "%s: %s" .CurrentSection.Title .Title))) }} 
    <!-- slice -->
    {{ partial "log" ( printf "%s" "slice") }} 
    {{ partial "log" ( printf "%v" (slice .)) }} 
    <!-- ## here -->
    {{- .Content }}
    {{ if and ( ne .Site.Params.comment false ) ( ne .Params.comment false ) }}
    {{ partial "comments" . }}
    {{ end }}
  </article>
  {{- partial "sidebar" . }}
</div>
{{- end }}