// import
@import "popup.scss";

// variables
$margin-min: 1;
$margin-max: 20;
$width-freq-min: 1;
$width-freq-max: 20;

.remark-slide {
    .bkg {
        &.blue {
            background-color: rgb(61, 107, 255);
        }
    }
    .text {
        &.white {
            color: white;
        }
    }
}

.remark-slide-content {
    &.slide-hd {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 4.5rem;
            margin: 0;
            padding: 0;
            background-color: rgb(61, 107, 255);
        }
        .announce-key {
            position: absolute;
            right: 10px;
            top: 20px;
            p {
                margin: 0;
            }
        }

        h2 {
            &::before {
                content: "■";
                margin-right: 0.5rem;
            }
            font-size: 1.7rem;
            position: relative;
            z-index: 1;
            color: white;
            margin: 0;
            padding: 0 0 0.6rem 0.5rem;
        }
    }

    table {
        td,
        th {
            border: 2px #808080 solid;
        }
        th {
            background-color: #e4e4e4;
        }
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .rect {
        position: relative;
        padding: 0.3rem 0.4rem;
        line-height: 1rem;
        border-width: 1px;
        margin: 0.3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        break-inside: avoid;
        &.border {
            border-width: 1px;
            border-style: solid;
            &.bddashed {
                border-style: dashed;
            }
            &.bdred01 {
                border-color: rgb(255, 99, 99);
            }
        }
        &.img-box {
            p {
                margin: 0;
                img {
                    margin: 0.5rem auto;
                    max-width: 80%;
                    max-height: 80%;
                    cursor: pointer;
                }
            }
        }
        &.round-lg {
            border-radius: 0.6rem;
        }
        &.inner-left {
            * {
                text-align: left;
            }
        }
        &.yellow {
            background-color: #fcff5c;
            border-color: #fcff5c;
        }
    }
}

// iteratable params
// margin
@for $i from $margin-min through $margin-max {
    .mt-#{$i} {
        margin-top: #{$i * 1}rem;
    }

    .mr-#{$i} {
        margin-right: #{$i * 1}rem;
    }

    .mb-#{$i} {
        margin-bottom: #{$i * 1}rem;
    }

    .ml-#{$i} {
        margin-left: #{$i * 1}rem;
    }
}

// width,height
@for $i from $width-freq-min through $width-freq-max {
    .width-#{$i * 5} {
        width: percentage($i / 20);
    }
    .height-#{$i * 5} {
        height: percentage($i / 20);
    }
    .max-width-#{$i * 50} {
        max-width: #{$i * 50}px;
    }
    .max-height-#{$i * 50} {
        max-height: #{$i * 50}px;
    }
}

// font-size
@for $i from 0 to 30 {
    .fontsize-#{$i + 1} {
        font-size: #{($i + 1) / 10}rem;
    }
}

//line-height
@for $i from 1 to 5 {
    .line-height-#{$i * 5} {
        line-height: #{($i * (0.5))}rem;
    }
}
