{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
{{- $scratch.Set "image" .Params.image }}
{{- else }}
{{ $scratch.Set "image" .Site.Params.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL) }}
<div class="grid-inverse wrap content">
    <article class="post">
        <h3>アーカイブ：{{ .Title }}</h3>
        </pre>
        {{ range .Data.Pages }}
        <li>
            <span class="date">{{ .Date.Format "2006.01.02 (Mon)" }}</span>
            <p class="ml-15 post_content">
                <a href="{{ .Permalink }}">{{ .Title }}</a><br>
                {{- with .Params.tags -}}
                {{- range . }}
                {{- $tag := . | urlize }}
                <a href='{{ absLangURL (printf "tags/%s" $tag) }}' class="post_tag button button_translucent">
                    {{- . }}
                </a>
                {{- end }}
                {{- end }}
            </p>
        </li>
        {{- end }}
    </article>
    {{- partial "sidebar" . }}
</div>
{{- end }}