{{ $tag_name :=  .Get "tag_name"}}
{{ $taxo_name :=  .Get "taxo_name"}}
{{ if or (not $tag_name ) (not $taxo_name ) }}
    {{ errorf "missing value for either param : ％s" .Position }}
{{ end }}
<ul>
    {{ $tag_taxo_pages := where $.Page.Site.RegularPages "Type" "posts" }}
    {{ $tag_taxo_pages =  where $tag_taxo_pages ".Params.tags" "intersect" (slice $tag_name) }}
    {{ $tag_taxo_pages =  where $tag_taxo_pages (printf ".Params.%s_taxo" (lower $tag_name)) "=" $taxo_name }}
    {{ range  $tag_taxo_pages.ByDate}}
        <li>
            <a href="{{ .RelPermalink }}" target="_blank" rel="noopener">{{ .Title }}</a>
        </li>
    {{ end }}
</ul>