{{ $type :=  .Get "type"}}
{{ $name :=  .Get "name"}}
{{ if or (not $type ) (not $name ) }}
  {{ errorf "missing value for either param : ％s" .Position }}
{{ end }}
{{ range  (where .Site.Data.tools "type" $type)}}
    {{ range (where .items "name" $name ) }}
        {{ $url := absLangURL .url }}
        {{ $scr := newScratch }}
        {{ $scr.Set "txt" $url }}
        {{ with $.Inner }}
            {{ $scr.Set "txt" . }}
        {{ end }}
        
        <a href="{{ $url }}" target="_blank" rel="noopener">{{ $scr.Get "txt" | markdownify}}</a>    
    {{ end }}
{{ end }}  